<main class="main-topics">
    <section class="topics">
        <mat-card *ngFor="let i of Arr(num).fill(1)" class="topics__topic">
            <mat-card-header class="topics__topic__header">
                <mat-card-title class="topics__topic__header__title">Titre du thème</mat-card-title>
            </mat-card-header>
            <mat-card-content class="topics__topic__content">
                <p>Description : Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta porro nam eaque ab nobis aperiam, unde saepe minus eum optio nostrum illo ipsam culpa velit, architecto quis distinctio ducimus tenetur? </p>
                <button mat-raised-button>S'abonner</button>
            </mat-card-content>
        </mat-card>
    </section>
</main>
