<main class="main-topics">
    <div class="loading" *ngIf="!topics"><mat-spinner></mat-spinner></div>
    <section class="topics">
        <mat-card *ngFor="let topic of topics" class="topics__topic">
            <div class="topics__topic__title-text">
                <mat-card-title class="topics__topic__title-text__title">{{topic?.name}}</mat-card-title>
                <p>Description : {{topic?.description}} </p>
            </div>
            <button mat-raised-button (click)="click(topic.id)">{{subscriptions?.includes(topic.id) ? "Se désabonner" : "S'abonner"}}</button>
        </mat-card>
    </section>
</main>
