<main class="main-account">
    <div class="loading" *ngIf="!accountForm && !subscriptions"><mat-spinner></mat-spinner></div>
    <section class="user">
        <mat-card class="card">
            <mat-card-header class="card-header" fxLayoutAlign="center center">
                <mat-card-title class="title">Profil utilisateur</mat-card-title>
            </mat-card-header>
            <form *ngIf="accountForm" class="account-form" [formGroup]="accountForm" (ngSubmit)="submit()">
                <mat-card-content class="account-content" fxLayout="column">
                    
                    <mat-form-field class="field">
                        <input matInput type="text" formControlName="name">
                    </mat-form-field>
    
                    <mat-form-field class="field">
                        <input matInput type="email" formControlName="email">
                    </mat-form-field>

                    <mat-form-field floatLabel="never" class="field password account">
                        <input placeholder="Mot de passe" matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <button class="visibility" mat-icon-button matSuffix (click)="hide = !hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
    
                </mat-card-content>
    
                <div class="buttons">
                    <button id="save" type="submit" mat-raised-button [disabled]="accountForm.invalid">Sauvegarder</button>
                    <button id="logout" (click)="logout()" mat-button color="warn">Se déconnecter</button>
                </div>
                <div *ngIf="onError">
                    <p class="error-message">Echec de la mise à jour du compte, verifiez que les champs suivants remplissent ces critères : </p>
                    <ul>
                        <li>Email : format d'adresse email valide</li>
                        <li>Nom d'utilisateur : contient au moins 3 caractères</li>
                        <li>Mot de passe : contient au moins 8 caractères, dont au moins une lettre majuscule/minuscule ainsi qu'un chiffre et un caractère spécial </li>
                    </ul>
                </div>
                <div *ngIf="onErrorEmail">
                    <p class="error-message">Attention, cette adresse email est déjà utilisée par un autre utilisateur !</p>
                </div>
            </form>
        </mat-card>
    </section>
    <hr>
    <section class="subscriptions">
        <h1>Abonnements</h1>
        <div class="subscriptions__list">
            <mat-card *ngFor="let subscription of subscriptions" class="subscriptions__subscription">
                <div class="subscriptions__subscription__title-text">
                    <mat-card-title class="subscriptions__subscription__title-text__title">{{subscription.name}}</mat-card-title>
                    <p>Description : {{subscription.description}}</p>
                </div>
                <button (click)="click(subscription.id)" class="subscriptions__subscription__button" mat-raised-button>{{subscription.isSubscribed ? "Se désabonner" : "S'abonner"}}</button>
            </mat-card>
        </div>
    </section>
</main>
