<main class="{{currentBreakpoint}}" [ngStyle]="{'height': screenHeight, 'padding-top': mainTagHeight}">
    <section class="logo">
        <img src="../../../../../assets/logo_p6 1.png" alt="logo" class="logo__{{currentBreakpoint}}">
    </section>
    <section class="auth auth__{{currentBreakpoint}}">
        <button (click)="navigate('login')" class="auth__button" mat-stroked-button color="warn">Se connecter</button>
        <button (click)="navigate('register')" class="auth__button" mat-stroked-button color="warn">S'inscrire</button>
    </section>
</main>
