main{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
}

.main-welcome[format="desktop"]{
    padding-top: 200px;
}

.main-welcome[format="tablet"]{
    padding-top: 100px;
}

.main-welcome[format="phone"]{
    padding-top: 75px;
}

.logo{
    &__img[format="phone"]{
        max-width: 225px;
    }
}

.auth{
    display: flex;
    &__button{
        width: 115px;
        background-color: white;
        color: black;
    }
}

.auth[format="desktop"]{
    flex-direction: row;
    column-gap: 3rem;
}

.auth[format="tablet"], .auth[format="phone"]{
    flex-direction: column;
    row-gap: 3rem;
}