main{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
}

main[format="desktop"]{
    padding-top: 200px;
}

main[format="tablet"]{
    padding-top: 100px;
}

main[format="phone"]{
    padding-top: 75px;
}

.logo{
    &__img[format="phone"]{
        max-width: 225px;
    }
}

.auth{
    display: flex;
    &__button{
        width: 110px;
        background-color: white;
    }
}

.auth[format="desktop"]{
    flex-direction: row;
    column-gap: 3rem;
}

.auth[format="tablet"], .auth[format="phone"]{
    flex-direction: column;
    row-gap: 3rem;
}