<main class="main-posts">
    
    <div class="create-filter">
        <button (click)="navigate()" mat-raised-button>Créer un article</button>
        <div class="filter">
            <p class="filter__by">Trier par</p>
            <img class="filter__arrow" src="../../../assets/Arrow 9.png" alt="arrow">
        </div>
    </div>

    <section class="posts">
          <mat-card *ngFor="let post of posts" class="posts__post" (click)="navigateToPost(post.id)">
            <mat-card-header class="posts__post__header">
              <mat-card-title class="posts__post__header__title">{{post?.title}}</mat-card-title>
              <mat-card-subtitle class="posts__post__header__subtitle">
                <p class="posts__post__header__subtitle__date">{{post?.createdAt | date : 'medium' : '' : 'fr'}} </p>
                <p class="posts__post__header__subtitle__author">{{post.author.name}}</p>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="posts__post__content">
              <p class="posts__post__content__text">Content : {{(post.content.length > 225) ? (post.content | slice:0:225)+'...' : (post.content) }}</p>
            </mat-card-content>
          </mat-card>
          <div *ngIf="posts?.length==0" class="no-posts">
            <h2>Aucun article</h2>
            <p>Soyez le premier à écrire un article.</p>
          </div>
    </section>

</main>
