<main class="main-create">
    <section class="create">
        <mat-card class="card">
            <mat-card-header class="card-header" fxLayoutAlign="center center">
                <img src="../../../assets/Arrow 9.png" (click)="back()" class="back" alt="back">
                <mat-card-title class="title">Créer un nouvel article</mat-card-title>
            </mat-card-header>
            <form class="create-form" [formGroup]="postForm" (ngSubmit)="submit()">
                <mat-card-content class="create-content" fxLayout="column">
                    
                    <mat-form-field class="remove-arrow field" appearance="fill">
                        <mat-select matNativeControl disableRipple placeholder="Sélectionner un thème" floatlLabel="never" class="select" formControlName="topic_id">
                            <mat-option *ngFor="let topic of topics$ | async" [value]="topic.id">
                                {{topic.name}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>

                    <mat-form-field class="field"  appearance="fill">
                        <input matInput type="text" placeholder="Titre de l'article" formControlName="title">
                    </mat-form-field>
                    
                    <mat-form-field class="field"  appearance="fill">
                        <textarea matInput placeholder="Contenu de l'article" rows="10" formControlName="content"></textarea>
                    </mat-form-field>
                    <button mat-raised-button type="submit" [disabled]="postForm.invalid">Créer</button>
                </mat-card-content>
                
            </form>
        </mat-card>
    </section>
</main>
