header{
    display: flex;
    flex-direction: column;
}

.header-element[format="phone"]{
    flex-direction: column-reverse;
}

.logo_div[format="desktop"][status="authentication"]{
    justify-content: flex-start;
    border-bottom: 1px solid;
}

.logo_div{
    border-bottom: 1px solid;
    padding: 0 4rem;
}

.logo_div[format="desktop"]{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo_div[format="phone"],.logo_div[format="tablet"]{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    padding: 0 1rem;
}

.logo_div[showNavMenu="true"]{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo_div[status="authentication"] > .nav-element{
    display: none;
}

.logo_div[status="authentication"]{
    justify-content: center;
    border-bottom: 0;
}

.nav-element.authentication{
    display: none;
}

.nav-element.authenticated{
    display: block;
}

ul.desktop{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    column-gap: 2rem;
}

ul.phone_tablet{
    display: none;
}

.mat-icon.desktop{
    display: none;
}

.mat-icon.phone_tablet{
    display: flex;
    background-color: transparent;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    column-gap: 2rem;
}

li{
    display: flex;
    align-self: center;
    list-style: none;
}

.account_circle{
    font-size: 32px;
}

li:hover{
    cursor: pointer;
}

#nav_topics[active="true"], #nav_posts[active="true"],.account_circle[active="true"],#nav_posts_sidenav[active="true"],#nav_topics_sidenav[active="true"], #nav_account_sidenav_icon[active="true"]{
    color: #6C5CCF;
}

#nav_topics[active="false"], #nav_posts[active="false"],.account_circle[active="false"],#nav_posts_sidenav[active="false"],#nav_topics_sidenav[active="false"], #nav_account_sidenav_icon[active="false"]{
    color: black;
}

.mat-icon[format="desktop"]{
    display: none;
}

.mat-icon[format="phone"], .mat-icon[format="tablet"]{
    display: flex;
    background-color: transparent;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
}


.back_div[status="authentication"]{
    display: block;
}

.back_div[format="phone"]{
    padding: 1rem;
}

.back_div[format="tablet"]{
    padding-left: 4rem;
    padding-top: 1rem;
}

.back_div[format="desktop"]{
    padding-left: 8rem;
    padding-top: 1rem;
}

.back_div.authentication{
    display: block;
}

.back_div.authenticated{
    display: none;
}

.logo{
    width: 200px;
    height: 100px;
}

.back:hover{
    cursor: pointer;
}

.sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex:1    
}
  
  
#snav{
    width: 62.5%;
    background-color: white;
    border: 1px solid;
    overflow: hidden;
}

.sidenav-list{
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    padding: 0;
}

.sidenav-list > ul{
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0;
    height: 85%;
    padding-right: 1rem;
}

.sidenav-list{
    &__posts-topics{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        &__element{
            font-size: 22px;
        }
    }
}

.icon_end{align-self: flex-end;}

.icon_end > .account_circle{font-size: 64px;}