<header>
    <div class="logo_div">
        <img class="logo" src="../../../assets/logo_p6 1.png" alt="logo">
        <nav class="nav" *ngIf="showNavMenu">
            <ul>
                <li>Articles</li>
                <li>Thèmes</li>
                <li>
                    <span class="material-symbols-outlined account_circle">
                        account_circle
                    </span>
                </li>
            </ul>
            <button mat-icon-button class="mat-icon">
                <mat-icon>menu</mat-icon>
            </button>
        </nav>
    </div>
    <div *ngIf="showBackArrow" class="back_div">
        <img class="back" (click)="navigateBack()" src="../../../assets/Arrow 9.png" alt="back">
    </div>
</header>
